@import "./fonts";
@import "./globals";

body{
  padding: 20px;
  font-family: var(--regular-font-family);
}
button{
  font-family: var(--regular-font-family);
}
input{
  font-family: var(--regular-font-family);
}

form{
  margin-block-end: 0;
}

